.body {
    height: 100dvh;
    width: 100dvw;
    min-width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
}

.card {
  width: 90%;
  max-width: 90%;
  height: 100%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.stats {
  height: 120px;
}

.game {
  position: relative;
  justify-content: center;
  display: flex;
  flex-grow: 1.2;
}

.game_over_card_container {
  position: absolute;
}

.exit_btn_container {
  width: 120px;
  height: 45px;
  position:absolute;
  left: 10px;
  bottom: 10px;
  z-index: 5;
}

.exit_btn {
  color: white;
  background-color: grey;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 0.5s ;
  font-weight: 1000;
}

.exit_btn:hover {
  background-color: red;
  scale: 1.2;
}