.list {
    display: flex;
    position: relative;
    left:-100%;
    animation: autoRun 4s linear infinite 
    
}

#pacman {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 8px;
    margin-right: 15px;
}
@keyframes autoRun {
    from {
        left:600px;
    } to {
        left:-600px;
    }
}