ul {
    width: 100%;
    display: grid;
    row-gap: 10px;
}

li {
    
    width: 100%;
    align-items: center;
}

button.delete {
    margin-left: 20px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

li.purchase {
    text-decoration: line-through;
}