.card {
    display: flex;
    background-color: white;
    height: 600px;
    width: 600px;
    padding: 20px;
    border-radius: 32px;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    box-shadow: 0 0 15px 	#ea82e5;
}

.headers {
    display: flex;
    gap: 60px;
    margin-left: 80px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

.lobby_card {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 12px;
    height: 500px;
    width: 450px;
    margin-bottom: 45px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 5px;
}

.title {
    font-weight: 600px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 35px;
}

.cancel {
    height: 50px;
    width: 157px;
    font-size: 30px;
    margin-top: 30px;   
}

.loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}