.body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

:root {
  --squish-animation-time:800ms;
  --progress-animation-time:1000ms;
  --circle-animation-time:500ms;
  --checkmark-animation-time:500ms
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 2;
  backdrop-filter: blur(30px);
  padding: 30px;
  width: auto;
}

.pacmanVideo {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginScreen_gradient {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.continue {
  background-color: #1bade4 !important;
  transition: 0.3s;
  color: white !important;
  transition: 0.2s linear !important;
}

.continue:hover {
  background-color: yellow !important;
  letter-spacing: 0.5px;
  scale: 1.1 !important;
  color: black !important;
}

.cancel {
  background-color: rgb(116, 116, 116) !important;
  color: white !important;
  transition: 0.2s linear !important;
}

.cancel:hover {
  background-color: rgb(255, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
  scale: 1.1 !important;; 
}



.private > div > div > button {
  background-color: #1bade4 !important;
}

.public > div > div > button {
  background-color: #ffb8ff !important;
  color: black;
}


