.body {
    height: 95dvh;
    width: 100dvw !important ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    width: 45%;
    min-width: 500px;

}
.participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 500px;
    max-height: 600px;
    min-height: 200px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 12px;
    padding: 12px;
    overflow:auto;
    overflow-x: hidden;
}

.participants::-webkit-scrollbar {
    width: 0.5em;
    
}

.participants::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0);
    margin-block: 32px;
}

.participants::-webkit-scrollbar-thumb {
    background: hsl(60, 50%, 50%);
    transition: 0.2s linear ;
    border-radius: 100vw;
}


.participants::-webkit-scrollbar-thumb:hover {
    background: hsl(60, 100%, 53%);
}


.title {
    color: white;
    font-size: 36px;  
    text-align: center;
    margin-bottom: 32px;
}

.ready_btn{
    background-color: yellow !important;
    transition: all 200ms linear !important; 
}

.wait_text {
    color: white;
    position: absolute;
    bottom: -50px;
}

.pacman_text {
    color: rgba(0, 0, 255, 0);
    font-size: 18px;
    font-weight: 1000;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue);
    -webkit-background-clip: text;
    background-clip: text;
    animation: move 10s linear forwards infinite;
}




.selected_text {
    color: white;
}

.inactive {
    pointer-events: none;
}


.ready_btn_container {
    margin-top: 12px;
}
.ready_btn:hover {
    scale: 1.2 !important;
}

.clock {
    color: white;
}


@media screen and (max-width:500px) {
    .wait_text {
        bottom: -30px;
    }
}


@keyframes move {
    to {
        background-position: 100vh;
    }
}
