.card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 6px;
    background-color: hsla(0, 0%, 0%, 0.527);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.headers {
    display: grid;
    width: 100%;
    height: 32px;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    color: white;
    font-weight: 1000;
    border-bottom: 4px solid white;
    margin-bottom: 12px;
}

.lobby_table {
    color: white;
    width: 100%;
    margin-top: 15px;
    text-align: center;
  
  }
  
  .lobby_table > thead {
    font-size: 18px;
    border-bottom: 1px solid white;
  }
  
  .table_row > td {
    justify-items: center;
    vertical-align: center;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .table_row {
    border-bottom: 1px solid white;
    height: 100px;
  }
