.card {
    display: grid;
    height: 150px;
    grid-template-rows: 15px 20px 50px 60px;
    grid-template-areas: 
        "selector"
        "username"
        "avatar"
        "ready"
    ;
    color: white;
    align-items: center;
    justify-items: center;
    width: 120px;
    padding: 10px;
    border-radius: 6px;
}

.player_avatar {
    grid-area: avatar;
    height: 100%;
    
}

.player_avatar.animate {
    animation: enlarge 0.3s infinite alternate
}

.username_container {
    grid-area: username;
    height: 100%;
}

.selector {
    grid-area: selector;
    visibility: hidden; 
    position: relative;
    width: 15px;
    background-color: yellow;
    border-radius: 100%;
    height: 100%;
}


.active_selector {
    visibility: visible;
    height: 100%;
}

.active_selector span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    opacity: 0.8;
    animation: pulseAnimate 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

.btn_container {
    margin-top: 12px;
    height: 100%;
}


.start_btn {
    position: relative;
    grid-area: ready;
    width: 80px;
    height: 35px;
    background-color: rgb(4, 181, 240) ;
    color: white;
    border-radius: 8px ;
}

.start_btn.animating {
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
    animation: hide 0ms calc(var(--progress-animation-time) + var(--squish-animation-time)) forwards;
    
}


.start_btn::before {
    content: "";
    display: none;
    position: absolute;
    background-color:rgb(4, 181, 240);
    inset: 0;
    border-radius: 8px ;
    animation: squish var(--squish-animation-time) forwards cubic-bezier(0,-0.58, 0, 2.54);
    
}

.start_btn::after{
    content: "";
    position: absolute;
    display: none;
    background-color:rgb(255, 255, 255);
    inset: 0;
    border-radius: 8px ;
    left:51%;
    right: 51% ;
    top:35%;
    bottom: 35%;
    animation: progress var(--progress-animation-time) var(--squish-animation-time) forwards;
}

.start_btn.animating::before, 
.start_btn.animating::after {
    display: block;
}


.checkmark_container {
    display: hidden;
}

.checkmark_container.animating {
    content: "";
    border-radius: 8px ;
    background-color:rgb(4, 181, 240);
    grid-area: ready;
    background-color: transparent;
    animation: circle var(--circle-animation-time) calc(var(--progress-animation-time) + var(--squish-animation-time)) forwards linear;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.checkmark_container.animating > .checkmark_svg {
    stroke: transparent;
    grid-area: ready;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 40.84;
    stroke-dasharray: 40.84;
    width: 15px;
    animation: checkmarks var(--checkmark-animation-time) calc(var(--progress-animation-time) + var(--squish-animation-time) + var(--circle-animation-time) ) forwards;
}


@keyframes squish {
    100% {
        left:-5%;
        right: -5% ;
        top:35%;
        bottom: 35%;
    }
}

@keyframes progress {
    100% {
        left:-5%;
        right: -5% ;
        top:35%;
        bottom: 35%;
  
    }
}

@keyframes hide {
    100% {
        display: none;
        position: absolute;
    }
}

@keyframes circle {
    0%{
        width: calc(80px);
        height: calc(35px * 0.3);

   
    }
    100% {
        width: 25px;
        height: 25px;
        background-color: rgb(115,218,188);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@keyframes checkmarks {
    100% {
        stroke: white;
        stroke-dashoffset: 0;
    } 0% {
        stroke: white;
    }
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes enlarge {
    100% {
        scale: 1.2;
    }
}