.list {
    display: flex;
    position: relative;
    left:-100%;
    animation: autoRun 4s linear infinite 
    
}

.pacman {
    margin-right: 8px;

}
@keyframes autoRun {
    from {
        left:-450px;
    } to {
        left:600px;
    }
}