.card {
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.card > span {
  width: 25px;
  margin-left: 15px;
}

.username_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  text-transform: capitalize;
}

.avatar_container {
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 8px;
}

.btn:hover {
  color: yellow;
}

.delete_btn {
  background-color: rgba(0, 0, 0, 0) !important;
  text-align: right;
  font-size: 16px;
}

.delete_btn:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  
}
