.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
}

.lives_container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    text-align: center;

}

.game_metadata {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    gap:35px
}

.game_metadata > div {
    height: 100%;
}